<div class="container-fluid">
    <div class="row bg-info align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fs-54 text-center">Seja bem vinde!</h1>
                    <h5 class="fs-18 text-center">Expresse aqui os seus pensamentos e opiniões</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6 d-flex justify-content-center">
                    <button class="btn btn-light me-2" data-bs-toggle="modal" data-bs-target="#novaPostagem" data-bs-toggle="modal" data-bs-target="#novaPostagem">Nova postagem</button>
                    <a class="btn btn-outline-light" href="#postagem">Ver postagens</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center mt-3 mb-5">
            <img src="https://i.imgur.com/FnA5p2M.png" class="img-fluid" width="500px" height="500px" alt="">
        </div>

    </div> <!-- row -->
</div> <!-- container fluid -->

<div class="container mb-5 mt-5" id="postagem">
    <!-- nav -->
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
          <button class="nav-link active text-secondary fw-bold" id="nav-todasPostagens-tab" data-bs-toggle="tab" data-bs-target="#nav-todasPostagens" type="button" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as postagens</button>

          <button (click)='findByIdUser()' class="nav-link text-secondary fw-bold" id="nav-minhasPostagens-tab" data-bs-toggle="tab" data-bs-target="#nav-minhasPostagens" type="button" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas postagens</button>

          <button class="nav-link text-secondary fw-bold" id="nav-postagensTema-tab" data-bs-toggle="tab" data-bs-target="#nav-postagensTema" type="button" role="tab" aria-controls="nav-postagensTema" aria-selected="false">Postagens por tema</button>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

          <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
            <div class="card h-100 text-center m-2" *ngFor='let item of listaPostagens'>
              <div class="card-body">
                <h5 class="card-title">{{item.titulo}}</h5>
                <small class="text-muted"> Tema: {{item.tema.descricao}}</small>
                <p class="card-text">{{item.texto}}</p>
                <small class="text-muted">Postado por: {{item.usuario.nome}} </small>
              </div>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

          
          <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
            <div class="card h-100 text-center m-2" *ngFor='let item of user.postagem'>
              <div class="card-body">
                <h5 class="card-title">{{item.titulo}}</h5>
                <small class="text-muted"> Tema: {{item.tema.descricao}}</small>
                <small class="text-muted">{{item.data}}</small>
                <p class="card-text">{{item.texto}}</p>
              </div>
            </div>
          </div>
          



        </div>
        <div class="tab-pane fade" id="nav-postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">Postagens por tema</div>
      </div> 

<!-- nav -->

</div> <!-- container  -->



  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="novaPostagemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="novaPostagemLabel">Nova postagem</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        <div class="form-group">
            <label for="titulo">Título</label>
            <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo" placeholder="Digite o título da sua postagem">
        </div>

        <div class="form-group">
            <label for="texto">Texto</label>
            <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>
         
        <div class="form-group">
            <label for="texto">Escolha seu tema ou <a data-bs-dismiss="modal" routerLink='/tema'>cadastre um novo</a>: </label>
            <select [(ngModel)]='idTema' (change)='findByIdTema()' class="form-control" name="tema" id="tema" >
                <option *ngFor='let item of listaTemas' value="{{item.id}}">
                  {{item.descricao}}
                </option>
            </select>
        </div>
    </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)='publicar()' data-bs-dismiss="modal">Postar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->